// ------------------------------------------------------------
// Stats
//
// ------------------------------------------------------------

.stats {
  height: 100%;

  @include mobile {
    margin: 0;
  }
}

.stats__lists {
  margin: 0 auto;
  overflow: hidden;
  padding: 40px;
  width: 900px;

  @include mobile {
    width: 100%;
  }
}